{
    "PatternMatching" :
    [
		{
			"regex" :"í«îÛ",
			"color" :"rgba(255, 153, 102, 50)",
			"message" :"RedHat Package Manager (RPM) package"
		},
		{
			"regex" :"SQLite format 3.",
			"color" :"rgba(255, 153, 102, 50)",
			"message" :"SQLite Database"
		},
		{
			"regex" :"ftyp3g",
			"color" :"rgba(255, 153, 102, 50)",
			"message" :"3rd Generation Partnership Project 3GPP and 3GPP2 multimedia files"
		},
		{
			"regex" :"BZh",
			"color" :"rgba(255, 153, 102, 50)",
			"message" :"Compressed file using Bzip2 algorithm"
		},
		{
			"regex" :"GIF87a",
			"color" :"rgba(255, 153, 102, 50)",
			"message" :"Image file encoded in the Graphics Interchange Format (GIF)"
		},
		{
			"regex" :"GIF89a",
			"color" :"rgba(255, 153, 102, 50)",
			"message" :"Image file encoded in the Graphics Interchange Format (GIF)"
		},
		{
			"regex" :"ÿØÿÛ",
			"color" :"rgba(255, 153, 102, 50)",
			"message" :"JPEG file format"
		},
		{
			"regex" :"ÿØÿî",
			"color" :"rgba(255, 153, 102, 50)",
			"message" :"JPEG file format"
		},
		{
			"regex" :"ÿØÿà",
			"color" :"rgba(255, 153, 102, 50)",
			"message" :"JPEG file format"
		},
		{
			"regex" :"LZIP",
			"color" :"rgba(255, 153, 102, 50)",
			"message" :"lzip compressed file"
		},
		{
			"regex" :"MZ",
			"color" :"rgba(255, 153, 102, 50)",
			"message" :"DOS MZ executable file format"
		},
		{
			"regex" :"PK..",
			"color" :"rgba(255, 153, 102, 50)",
			"message" :"zip file format and formats based on it (zip, apk, epub, docx, ...)"
		},
		{
			"regex" :"Rar!",
			"color" :"rgba(255, 153, 102, 50)",
			"message" :"RAR archive"
		},
		{
			"regex" :".ELF",
			"color" :"rgba(255, 153, 102, 50)",
			"message" :"Executable and Linkable Format"
		},
		{
			"regex" :".PNG",
			"color" :"rgba(255, 153, 102, 50)",
			"message" :"Image encoded in the Portable Network Graphics format"
		},
		{
			"regex" :"Êþº¾",
			"color" :"rgba(255, 153, 102, 50)",
			"message" :"Java class file, Mach-O Fat Binary"
		},
		{
			"regex" :"ï»¿",
			"color" :"rgba(255, 153, 102, 50)",
			"message" :"UTF-8 encoded Unicode byte order mark, commonly seen in text files"
		},
		{
			"regex" :"%PDF-",
			"color" :"rgba(255, 153, 102, 50)",
			"message" :"PDF document"
		},
		{
			"regex" :"OggS",
			"color" :"rgba(255, 153, 102, 50)",
			"message" :"Ogg, an open source media container format"
		},
		{
			"regex" :"WAVE",
			"color" :"rgba(255, 153, 102, 50)",
			"message" :"Waveform Audio File Format"
		},
		{
			"regex" :"AVI.",
			"color" :"rgba(255, 153, 102, 50)",
			"message" :"Audio Video Interleave video format"
		},
		{
			"regex" :"ÿû",
			"color" :"rgba(255, 153, 102, 50)",
			"message" :"MPEG-1 Layer 3 file without an ID3 tag or with an ID3v1 tag (which's appended at the end of the file)"
		},
		{
			"regex" :"ID3",
			"color" :"rgba(255, 153, 102, 50)",
			"message" :"MP3 file with an ID3v2 container"
		},
		{
			"regex" :"fLaC",
			"color" :"rgba(255, 153, 102, 50)",
			"message" :"Free Lossless Audio Codec"
		},
		{
			"regex" :"MThd",
			"color" :"rgba(255, 153, 102, 50)",
			"message" :"MIDI sound file"
		},
		{
			"regex" :"dex.035.",
			"color" :"rgba(255, 153, 102, 50)",
			"message" :"Dalvik Executable"
		},
		{
			"regex" :"KDM",
			"color" :"rgba(255, 153, 102, 50)",
			"message" :"VMDK files"
		},
		{
			"regex" :"Cr24",
			"color" :"rgba(255, 153, 102, 50)",
			"message" :"Google Chrome extension or packaged app"
		},
		{
			"regex" :"xar!",
			"color" :"rgba(255, 153, 102, 50)",
			"message" :"eXtensible ARchive format"
		},
		{
			"regex" :"ustar",
			"color" :"rgba(255, 153, 102, 50)",
			"message" :"tar archive"
		},
		{
			"regex" :"DCM.PA30",
			"color" :"rgba(255, 153, 102, 50)",
			"message" :"Windows Update Binary Delta Compression"
		},
		{
			"regex" :"7z¼¯'",
			"color" :"rgba(255, 153, 102, 50)",
			"message" :"7-Zip File Format"
		},
		{
			"regex" :"²7zXZ..",
			"color" :"rgba(255, 153, 102, 50)",
			"message" :"XZ compression utility"
		},
		{
			"regex" :".\"M.",
			"color" :"rgba(255, 153, 102, 50)",
			"message" :"LZ4 Frame Format"
		},
		{
			"regex" :"MSCF",
			"color" :"rgba(255, 153, 102, 50)",
			"message" :"Microsoft Cabinet file"
		},
		{
			"regex" :"FLIF",
			"color" :"rgba(255, 153, 102, 50)",
			"message" :"Free Lossless Image Format"
		},
		{
			"regex" :".Eß£",
			"color" :"rgba(255, 153, 102, 50)",
			"message" :"Matroska media container, including WebM"
		},
		{
			"regex" :"!<arch>.",
			"color" :"rgba(255, 153, 102, 50)",
			"message" :"linux deb file"
		}
    ]
}
